@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Figtree';
  src: url('assets/fonts/static/Figtree-ExtraBold.ttf') format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/static/Figtree-SemiBold.ttf') format("truetype");
  font-weight: 600;
}

:root {
  Primary
  --primary-color: #f4d04e;
  Neutral
  --dark-color: #121212;
} */

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Figtree', sans-serif;
  background-color: var(--primary-color);
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #644f00;
    --light-color: #121212;
    --medium-color: #808080;
    --dark-color: #ffffffc9;
    --box-shadow-color: #ffffff80;
  }
} */
