@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Figtree';
  src: url('assets/fonts/static/Figtree-ExtraBold.ttf') format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/static/Figtree-SemiBold.ttf') format("truetype");
  font-weight: 600;
}